

.btn{
    
    background-color: #fff;
    border: none;
    height: 32px;
    border-radius: 21px;
    width: fit-content;
    padding: 0 24px;
    cursor: pointer;

    span{
        font-weight: bold;
    }

    &:hover{
        transform: scale(1.04);
    }
}