
.footerSessionLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--gray-black-10);
    height: 32%;
    padding: 16px 24px;
  
    .btnLenguage{
      display: flex;
      align-items: center;
      border:1px solid #CCC;
      background-color: transparent;
      color: #FFF;
      height: 32px;
      border-radius: 24px;
      padding-left: 16px;
      padding-right: 16px;
      gap: 5px;
      width: fit-content;
      cursor: pointer;
  
      &:hover{
        transform: scale(1.04);
    }
    }
  }
  
  
  .sessionRight {
    margin: 0.5rem 0rem 0.5rem ;
    background-color: #CCC;
    width: 100%;
  
  }
  
  .contain{
    width: 100%;
    height: 90vh;
    overflow: auto;
    padding: 1rem;
    background-color: var(--gray-black-10);
  
    strong{
      font-size: 1.5rem;
    }
  }
  
  .containerCarrossel{
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
  }
  
  .containerHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    span{
      font-size: .8rem;
    }
  }
  
  .cardMusic{
    flex: 1;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--gray-black);
    height: 281px;
  
    img{
      width: 100%;
      height: 60%;
      border-radius: .5rem;
      object-fit: cover;
    }
  
    .body{
      padding-top: .5rem;
  
      p{
        font-size: .9rem;
        margin-top: .5rem;
        color: rgba($color: #fff, $alpha: .5);
      }
    }
  
  }